/*
Spoonflower palette:
green: #7c9f2a
blue: #a0c8c8
yellow: #dfb500
taupe: #928a81
dark brown: #493a14
*/

h1{
	color: #a0c8c8;
}

body{
	background-image: url("linen.png");
	background-color: #928a81;
	color: #493a14;
	font-family: arial;
}

.textbox{
	border: 1px dotted #493a14;
	background: #dfb500;
}

.radio{
	border: 0px;
	background: #a0c8c8;
}

button{
	background: #dfb500;
	color: #493a14;
	border: 0px;
}

.box{
	background: #a0c8c8;
	border-radius: 10px;
	padding: 10px 10px 10px 25px;
}
/*
.menu{
	display: inline-block;
	background: #493a14;
	padding: 50px;
	height: 100%;
	width: 250px;
}

.canvas{
	display: inline-block;
	height: 600px;
	width: 600px;
  position: relative;
}
*/
.main{
display: table;
}
.menu{
display: table-cell;
vertical-align: middle;
width: 300px;
padding: 0px 50px 0px 0px;
}
.canvas{
width: 600px;
}

span{
	margin: 0px;
}

