/*
Spoonflower palette:
green: #7c9f2a
blue: #a0c8c8
yellow: #dfb500
taupe: #928a81
dark brown: #493a14
*/

h1{
	color: #a0c8c8;
	font-family: Monoton;
	text-align: center;
	font-size: 37px;
}

h2{
	color: #a0c8c8;
	font-family: Monoton;
	text-align: center;
	font-size: 28px;
}

body{
	background-image: url("linen_dark.png");
	background-color: #928a81;
	color: #493a14;
	font-family: arial;
	font-size: 12px;
}

.textbox{
	border: 1px dotted #493a14;
	background: #dfb500;
}

.radio{
	border: 0px;
	background: #a0c8c8;
}

button{
	background: #dfb500;
	color: #493a14;
	border: 0px;
}

.box{
	background: #a0c8c8;
	border-radius: 10px;
	padding: 10px 10px 10px 25px;
}

.main{
	display: table;
}

.menu{
	display: table-cell;
	vertical-align: middle;
	width: 350px;
	padding: 0px 50px 0px 0px;
}

.canvas{
	width: 600px;
	height: 600px;
}

.options{
	display: table-cell;
	vertical-align: middle;
	width: 300px;
	padding: 0px 0px 0px 50px;
}

span{
	margin: 0px;
}

